.App {
  text-align: center;
  border: 1px solid black;
  width: 85%;
  padding: 10px;
  margin: 0 auto;
  height: 100%;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.App-title {
  font-size: 34px;
}

.heading {
  color: red;
  font-size: 32px;
}
.dayBtn {
  margin: 20px;
  background-color: red;
  color: white;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: none;
}

.card {
  width: 50%;
  margin: 0 auto;
  padding: 50px;
  border-bottom: 3px solid red;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cardImg {
  padding-top: 20px;
}

.CardText {
  text-align: center;
  width: 200px;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 75px;
}

.App-intro {
  font-size: large;
}
